{% extends "template.html.twig" %}

{% block body %}
<body>
    <table class="table">
        {% for notes in notes %}
        <tr>
            <td>{{ notes }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="alert alert-info">
        <p>Nombre de notes : {{ notes|length }}</p>
        <p>Note minimale : {{ min(notes) }}</p>
        <p>Note maximale : {{ max(notes) }}</p>
    </div>
{% endblock %}
